In [33]:
import pandas as pd
data = pd.read_csv('playerdata.csv')
p=data['profit']
def get_stats(group):
    return {'count':group.count(),'mean':group.mean()}
factor=pd.cut(p,6)
grouped=p.groupby(factor)
grouped.apply(get_stats).unstack()

                            count           mean
profit
(-17412.275, 140708.263]  41858.0     363.028108
(140708.263, 297885.737]      7.0  172235.087143
(297885.737, 455063.21]       2.0  337777.605000
(455063.21, 612240.683]       1.0  507449.920000
(612240.683, 769418.157]      4.0  696036.417500
(769418.157, 926595.63]       1.0  926595.630000

AttributeError: 'DataFrameGroupBy' object has no attribute 'show'